__pycache__/video_processor.cpython-310.pyc
data.pkl
output.log
output.txt
reduce_resolution.log
reduce_resolution.txt
Z98oCHIsYnETEMP_MPY_wvf_snd.mp3
frames_audio__gPgueccVzw.pkl
wzY-b2Vj9UgTEMP_MPY_wvf_snd.mp3
